flows (2).json
[{"id":"fe0f6da9.dfdb1","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e1d7c6e.3a28038","type":"ui_form","z":"fe0f6da9.dfdb1","name":"","label":"","group":"7c879540.4f375c","order":4,"width":0,"height":0,"options":[{"label":"id","value":"id","type":"number","required":true,"rows":null},{"label":"DGN","value":"dgn","type":"text","required":true,"rows":null},{"label":"PRE4","value":"pre4","type":"number","required":true,"rows":null},{"label":"PRE5","value":"pre5","type":"number","required":true,"rows":null},{"label":"PRE6","value":"pre6","type":"text","required":true,"rows":null},{"label":"PRE7","value":"pre7","type":"text","required":true,"rows":null},{"label":"PRE8","value":"pre8","type":"text","required":true,"rows":null},{"label":"PRE9","value":"pre9","type":"text","required":true,"rows":null},{"label":"PRE10","value":"pre10","type":"text","required":true,"rows":null},{"label":"PRE11","value":"pre11","type":"text","required":true,"rows":null},{"label":"PRE14","value":"pre14","type":"text","required":true,"rows":null},{"label":"PRE17","value":"pre17","type":"text","required":true,"rows":null},{"label":"PRE19","value":"pre19","type":"text","required":true,"rows":null},{"label":"PRE25","value":"pre25","type":"text","required":true,"rows":null},{"label":"PRE30","value":"pre30","type":"text","required":true,"rows":null},{"label":"PRE32","value":"pre32","type":"text","required":true,"rows":null},{"label":"AGE","value":"age","type":"number","required":true,"rows":null}],"formValue":{"id":"","dgn":"","pre4":"","pre5":"","pre6":"","pre7":"","pre8":"","pre9":"","pre10":"","pre11":"","pre14":"","pre17":"","pre19":"","pre25":"","pre30":"","pre32":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":580,"wires":[["f960585c.20fc08"]]},{"id":"f960585c.20fc08","type":"function","z":"fe0f6da9.dfdb1","name":"PreToken","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"dgn\",msg.payload.dgn)\nglobal.set(\"pre4\",msg.payload.pre4)\nglobal.set(\"pre5\",msg.payload.pre5)\nglobal.set(\"pre6\",msg.payload.pre6)\nglobal.set(\"pre7\",msg.payload.pre7)\nglobal.set(\"pre8\",msg.payload.pre8)\nglobal.set(\"pre9\",msg.payload.pre9)\nglobal.set(\"pre10\",msg.payload.pre10)\nglobal.set(\"pre11\",msg.payload.pre11)\nglobal.set(\"pre14\",msg.payload.pre14)\nglobal.set(\"pre17\",msg.payload.pre17)\nglobal.set(\"pre19\",msg.payload.pre19)\nglobal.set(\"pre25\",msg.payload.pre25)\nglobal.set(\"pre30\",msg.payload.pre30)\nglobal.set(\"pre32\",msg.payload.pre32)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"lTLCa0beEEyLHve5scqytMC_S48wbqjm3X7O2IOe5PJ_\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":359,"y":537.0000047683716,"wires":[["e7c19df0.fd259"]]},{"id":"e7c19df0.fd259","type":"http request","z":"fe0f6da9.dfdb1","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":558,"y":526,"wires":[["bd350549.309718"]]},{"id":"364feb93.c8ecc4","type":"debug","z":"fe0f6da9.dfdb1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":200,"wires":[]},{"id":"bbf20523.767c08","type":"http request","z":"fe0f6da9.dfdb1","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/12a39987-5a4d-4285-9fd9-c21d580f1d21/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":830,"y":380,"wires":[["abfcecaa.101f6"]]},{"id":"abfcecaa.101f6","type":"function","z":"fe0f6da9.dfdb1","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":220,"wires":[["c180a647.b0a888","364feb93.c8ecc4"]]},{"id":"c180a647.b0a888","type":"ui_text","z":"fe0f6da9.dfdb1","group":"7c879540.4f375c","order":5,"width":0,"height":0,"name":"","label":"Risk 1 YR","format":"{{msg.payload}}","layout":"row-spread","x":886.6000366210938,"y":585.2000122070312,"wires":[]},{"id":"bd350549.309718","type":"function","z":"fe0f6da9.dfdb1","name":"Pre Prediction","func":"var id = global.get('id')\nvar dgn = global.get('dgn')\nvar pre4 = global.get('pre4')\nvar pre5 = global.get('pre5')\nvar pre6 = global.get('pre6')\nvar pre7 = global.get('pre7')\nvar pre8 = global.get('pre8')\nvar pre9 = global.get('pre9')\nvar pre10 = global.get('pre10')\nvar pre11= global.get('pre11')\nvar pre14= global.get('pre14')\nvar pre17= global.get('pre17')\nvar pre19= global.get('pre19')\nvar pre25 = global.get('pre25')\nvar pre30 = global.get('pre30')\nvar pre32 = global.get('pre32')\nvar age=global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"c72c3c45-72d8-4611-b95f-5937fd78b7ce\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"id\", \"DGN\", \"PRE4\", \"PRE5\", \"PRE6\", \"PRE7\", \"PRE8\", \"PRE9\", \"PRE10\", \"PRE11\", \"PRE14\", \"PRE17\", \"PRE19\", \"PRE25\", \"PRE30\", \"PRE32\", \"AGE\"], \"values\": [[id,dgn,pre4,pre5,pre6,pre7,pre8,pre9,pre10,pre11,pre14,pre17,pre19,pre25,pre30,pre32,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":755.0000076293945,"y":489.00000381469727,"wires":[["bbf20523.767c08"]]},{"id":"7c879540.4f375c","type":"ui_group","z":"","name":"One Year Life Expectancy Post Thoracic Surgery ","tab":"50b68bdb.cb94b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"50b68bdb.cb94b4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]